<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="UsernameWithTransport">
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <extensions>
      <behaviorExtensions>
        <add name="axlCustomMessage" type="AXLSharp.AXLBehaviorExtensionElement, AXLSharp, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
    <client>
      <endpoint address="https://10.10.20.1:8443/axl/" binding="basicHttpBinding"
          bindingConfiguration="UsernameWithTransport" contract="AXLPort" name="AXLPort"
          behaviorConfiguration="axlCustomMessage" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="axlCustomMessage">
          <axlCustomMessage />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>